*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
/*--------------------------Header----------------------------------*/
.iconBoard{
    width: 30px;
}
.logoBoard{
    width: 120px;
}
.headerBoard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-bottom: solid 1px rgb(230, 230, 230);
    height: 10vh;
}
.headerBoard > div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
}
.headerBoard > div > span{
    font-size: 18px;
}

/*------------------------------------Nav côté-----------------------------*/
.mainBoard{
    display: flex;
    align-items: center;
}
.iconBoardNav{
    width: 20px;
    margin: 12px;
}
.navBoard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    padding: 15px 10px;
    height: 90vh;
    border-right: solid 1px rgb(230, 230, 230);
}
.navBoard > a > li{
    display: flex;
    align-items: center;
}
.navBoard > a > li > span{
    font-size: 13px;
}
.navBoard > a:nth-child(1) > li{
    background-color: rgba(58, 120, 255, 0.199);
    border-left: solid 3px blue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.notifMail{
    margin-left: 10px;
    background-color: rgb(250, 76, 76);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding-top: 2px;
    padding-right: 1px;
}
.navBoard > a:hover > li{
    background-color: rgba(58, 120, 255, 0.199);
    border-left: solid 3px blue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*-------------------------------Section-------------------------------*/
.boardTable{
    height: 90vh;
    width: 100%;
    background-color: rgb(231, 237, 248);
    padding: 12px;
}
.headerMain{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.headerMain > h1{
    font-weight: 500;
}
.calendarMain{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.day{
    margin-right: 15px;
}
.day > span{
    border: solid 1px rgb(197, 197, 197);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    padding: 6px;
    cursor: pointer;
}
.day > span:nth-child(1):hover, .day > span:nth-child(3):hover{
    background-color: rgba(58, 120, 255, 0.199);
    transition: 0.3s;
}
.dateSelected{
    color: white;
    background-color: rgb(45, 94, 255)!important;
}
.iconBoardMain{
    width: 20px;
    margin: 6px;
}
.year{
    display: flex;
    align-items: center;
    border: solid 1px rgb(197, 197, 197);
    border-radius: 10px;
    padding-right: 8px;
    background-color: rgb(255, 255, 255);
    font-size: small;
    font-weight: 700;
    cursor: pointer;
}

/*-----------------------------Article section------------------------*/
.articleBoard{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}
.chiffreBoard{
    background-color: white;
    width: 280px;
    border-radius: 7px;
    padding: 15px;
    box-shadow: 4px 4px 40px rgb(231, 231, 231);
}
.chiffreBoard > h2{
    font-size: 17px;
    font-weight: 500;
}
.chiffreBoard > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}
.chiffreBoard > div > span{
    font-weight: bold;
    font-size: 25px;
}
.chiffreBoard > span{
    font-size: 12px;
    font-weight: 700;
    color: green;
}
.chiffreBoard:nth-child(3) > span{
    font-size: 12px;
    font-weight: 700;
    color: red;
}
.iconArticle{
    width: 20px;
    padding-top: 9px;
}
.iconArticleBoard{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px blue;
    background-color: rgba(58, 120, 255, 0.199);
    text-align: center; 
}

/*-----------------reservation graphique---------------------*/
.reservationGraph{
    background-color: white;
    border-radius: 7px;
    padding: 15px;
    box-shadow: 4px 4px 40px rgb(231, 231, 231);
    width: 650px;
    margin: 15px;
    height: 360px;
}
.paramReservationGraph{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.paramReservationGraph > h2{
    font-size: 17px;
}
.reservationGraph > img{
    width: 600px;
}

/*-----------------------------Nouveaux adhérents--------------------------*/
.iconMailBoard{
    width: 15px;
}
.newAdherents{
    background-color: white;
    border-radius: 7px;
    padding: 20px;
    box-shadow: 4px 4px 40px rgb(231, 231, 231);
    margin: 15px;
    width: 300px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.newAdherents > h2{
    font-size: 17px;
    font-weight: 550;
    margin: 0px 0 18px 0;
}
.newAdherents > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
.newAdherents > div > span{
    font-size: 14px;
}
.newAdherents > a{
    color: blue;
    font-size: 12px;
    font-weight: bold;
    border-top: solid 1px rgb(223, 223, 223);
    width: 100%;
    display: block;
    padding-top: 9px;
    margin-top: 15px;
}
.newAdherents > a:hover{
    text-decoration: underline;
}
.resaBoard{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}