*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    text-align: center;
    margin: 10px auto;
    border-bottom: solid 1px grey;
    width: 250px;
}
.events{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1100px;
}
img{
    width: 344px;
}
.eventsInfo{
    text-align: center;
    width: 250px;
    height: 150px;
}
.eventsInfo > span:nth-child(1){
    color: blue;
}
h3{
    font-size: 14px;
    border-bottom: solid 1px grey;
    padding-bottom: 4px;
}
.flexColumn{
    cursor: pointer;
}
