/*------J'enlève les bordures sur toute la page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    /*Je centre mon titre au milieu de la page et lui met des marges haut-bas*/
    text-align: center;
    margin: 10px auto;
    /*Bordure en bas du titre*/
    border-bottom: solid 1px grey;
    /*taille au titre*/
    width: 250px;
}
/*class qui englobe tous mes évènements*/
.events{
    /*centrer sur la vertical et espacé sur l'horizontal*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*permet d'aller à la ligne quand plus de place*/
    flex-wrap: wrap;
    /*centrer au milieu de la page*/
    margin: 0 auto;
    width: 1100px;
}
img{
    /*taille à toutes mes img*/
    width: 344px;
}
/*class sur toutes les infos écrites*/
.eventsInfo{
    text-align: center;
    width: 250px;
    height: 150px;
}
/*Première ligne en couleur*/
.eventsInfo > span:nth-child(1){
    color: blue;
}
h3{
    /*taille à mon titre*/
    font-size: 14px;
    /*bordure en bas*/
    border-bottom: solid 1px grey;
    padding-bottom: 4px;
}
/*afficher un pointeur sur chaque article*/
.flexColumn{
    cursor: pointer;
}
/*réduire taille de ma class en fonction des tailles des écrans*/
@media screen and (max-width: 1100px){
    .events{
        width: 800px;
    }
}
@media screen and (max-width: 800px){
    .events{
        width: 400px;
    }
}
@media screen and (max-width: 500px){
    .events{
        width: 375px;
    }
}