*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.dBlock{
    display: block;
}
.dNone{
    display: none;
}
.bgImg{
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.border{
    border: black solid 1px;
    border-radius: 25px;
}
.icon{
    width: 15px;
}
.absolute{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.black{
    color: black;
}
.white{
    color: white;
}
.center{
    margin: 0 auto;
    text-align: center;
}
