
footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer img,a{
    display: block;
}

#footer-main{
    background-color: #D7DCDE;
    padding: 106px 142px;
    display: flex;
    justify-content: space-between;
}

.text-wrapper{
    display: flex;
    align-items: center;
}

.text-wrapper div p{
    margin: 3px;

}

.text-wrapper img{
    margin-right: 10px;
    height: 18px;
}

#social-links{
    margin-top: 15px;
    display: flex;
}

#social-links img{
width: 48px;
margin-right: 28px;
}

#site-map a{
    margin-bottom: 24px;
    font: normal normal 600 18px/24px;
    letter-spacing: 0px;
}

#footer-footer{
    background-color: #4525F2;
    padding: 30px 142px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

#footer-footer div {
    display: flex;
}

#footer-footer a,p{
    font: normal normal medium 13px/19px;
    letter-spacing: 0.39px;
}

#ml{
    margin-right: 60px;
}