
body {
    box-sizing: border-box;
}

#list-connect {
    position: relative;
}

#sideMenu {
    position: absolute;
    top: 60px;
    right: -30px;
    visibility: hidden;
    transition: 0.5s ease-out;
    z-index: 10000;
}

#sideMenu.sideToggle {
    left: 0;
}

.header {
    width: 100vh;
}

.logo {
    width: 120px;
    height: auto;
}

.nav-social {
    display: flex;
    text-decoration: none;
}

.nav-social li {
    text-decoration: none;
}

.btn-primary {
    border-radius: 150px!important;
}

.btn-light {
    border-radius: 150px!important;
}

.upper {
    text-transform: uppercase;
}

.big-title {
    font-size: 60px;
}

.active {
    border-bottom: 2px solid var(--primaire);
}

.bg-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 595px;
    background-image: url("../img/bg-header.png");
    filter: opacity(38%);
    background-position: 0% 35%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: index -1;
}

.bg-asso {
    background-image: url("../img/bg-asso.jpg");
    background-size: contain;
    background-position: center;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 /*-----------------------Modifs Melwyne----------------------------*/
 *{
    color: #0D0E0F!important;
}

body{
    background-color: var(--light)!important;
}
.colorOfficiel{
    background-color: var(--primaire)!important;
    border: var(--primaire)!important;
}
.secAdhRes{
    padding: 25px;
    background-color: var(--light)!important;
}
.adhRes{
    display: block;
    max-width: 700px;
    margin: 20px auto;
}
#statusAssoc{
    color: var(--primaire)!important;
}
.cWhite{
    color: var(--light)!important;
}
#backgroundOfficiel{
    margin-bottom: 15px;
    background-color: #F2F2F1;
}
.spaceStyle{
    margin-bottom: 15px;
}
.spaceStyle > div{
    margin: 5px;
}
.colorVar{
    color: var(--primaire)!important;
}
.alignLegend{
    text-align: center;
}
.styleIconMateriel{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--light);
    padding-top: 9px;
    margin: 0 auto;
}
.btn-primary{
    background-color: var(--primaire)!important;
    border: var(--primaire)!important;
}
@media screen and (max-width: 750px){
    .dNoneEspace{
        display: none;
    }
}